* {
  background-color: #272822;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px
}

main,
header {
  margin: 0 auto;
  width: 960px;
  max-width: 960px;
}

.section {
  text-align: left;
  margin-bottom: 3rem;
}

#HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

#HeaderNav h1 {
  margin: 0;
  margin-left: 1rem;
  font-size: 24px;
}

#HeaderNav>a,
#HeaderNav ul {
  list-style-type: none;
  margin: 0.25rem 1rem 1rem 1rem;
  padding: 0;
}

#HeaderNav ul li {
  display: inline;
  margin-right: 0.5rem;
}

.sub-heading {
  /* text-align: left; */
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #AAAAAA;
  font-size: 20px;
}

/* #ExtensionDescription {
  text-align: left;
} */

#SupportLangSvg {
  display: flex;
  justify-content: center;
}

#SupportLangSvg img {
  margin: 0.5rem;
  flex-direction: column;
  width: 64px;
  height: 64px;
}

.svg-orange {
  filter: sepia(40%) saturate(7471%);
}